/* Intro */
.intro {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  inset: 0% 0% auto auto;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 50;
}
.intro .intro__img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.intro .intro__img img {
  width: 75%;
  margin-top: -40vh;
}
.intro .intro__logo {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem 2.5rem;
  inset: 0%;
  z-index: 2;
}
.intro .intro__logo img {
  width: 8rem;
}
/* // Intro */


/* sc-about */
.sc-about .about-hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 150vh;
  background-color: #000;
  z-index: 1;
}
.sc-about .about-hero .hero-bg {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
.sc-about .about-hero .hero-bg img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}
.sc-about .about-hero .hero-bg .overlay {
  position: absolute;
  inset: 0% auto auto 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, rgba(24, 24, 26, 0.3), rgba(255, 255, 255, 0));
  z-index: 2;
}
/* sc-about / 텍스트 */
.sc-about .hero-caption.first {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  inset: 0%;
  padding: 3rem 2.5rem;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.sc-about .hero-caption .caption-title {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
}
.sc-about .hero-caption .caption.logo {
  display: flex;
  justify-content: flex-end;
  gap: 0.1rem;
  padding-right: 0.6rem;
  margin-bottom: -1.1rem;
  color: var(--colors--white);
  font-size: 33.4px;
  font-weight: 500;
  line-height: 0.8em;
}
.sc-about .hero-caption .caption .word{
  position: relative;
  overflow: hidden;
}
.sc-about .hero-caption .caption .char {
  transform: translateY(100%);
}
.sc-about .hero-caption .caption:last-child {
  color: var(--colors--white);
  font-size: 120px;
  font-weight: 500;
  line-height: 0.8em;
  letter-spacing: -2px;
}
.sc-about .hero-caption .caption-para {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  inset: auto 5vw auto auto;
}
.sc-about .hero-caption .caption-para p {
  position: relative;
  height: 24px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: -0.05px;
  color: var(--colors--grey);
}
.sc-about .hero-caption .caption-para p.slogan {
  color: var(--colors--white);
}
.sc-about .hero-caption .caption-para p .line{
  display: inline-block;
  transform: translateY(100%);
}
.sc-about .hero-caption.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
  width: 100%;
  height: 100%;
  padding: 3rem 2.5rem;
  text-align: left;
  z-index: 2;
}
.sc-about .hero-caption.second .title {
  display: inline-block;
  margin-bottom: .2rem;
  font-size: 14px;
  color: var(--colors--grey);
  line-height: var(--line-height--1-3em);
  font-weight: 500;
}
.sc-about .hero-caption.second p {
  width: 100%;
  max-width: 23rem;
  color: var(--colors--grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
}
.sc-about .hero-caption.second p strong {
  color: rgb(240, 240, 240);
}

/* about comment */
.sc-about .about-comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 200vh;
  background-color: var(--colors--white);
}
.sc-about .about-comment .comment-layer-1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 5rem 5vw 2rem;
}
.sc-about .about-comment .motion-circle {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 100%;
  background-color: rgb(245, 245, 245); /* rgb(249, 197, 24)로 변함*/
  filter: blur(5px); 
  opacity: 1;
  transform: scale(50);
  will-change: opacity, filter, background-color, transform;
}
.sc-about .about-comment .comment-layer-2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  place-items: center stretch;
  gap: 1.5rem;
  inset: 0%;
  width: 100%;
  height: 100%;
  padding: 2rem 5vw 5rem;
  z-index: 2;
}
.sc-about .comment-layer-2 .para-box-xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60rem;
}
.sc-about .comment-layer-2 .para-box-xl .line {
  font-size: 120px;
  letter-spacing: -2px;
  line-height: 1em;
  font-weight: 600;
  color: var(--colors--black);
}
.sc-about .comment-layer-2 .para-box-xl .line.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.sc-about .para-box-xl .line.flex .thumb {
  width: 12rem;
  height: 7rem;
  border-radius: 24px;
  overflow: hidden;
}
.sc-about .para-box-xl .line.flex .thumb img {
  width: 100%;
  height: 125%;
  object-fit: cover;
}
.sc-about .comment-layer-2 .para-box-s {
  width: 100%;
  max-width: 26rem;
  color: var(--colors--black);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 1.3em;
  text-align: center;
}

/* sc-story */
.sc-story .story-headline {
  display: grid;
  position: relative;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  height: 14rem;
  background-color: #f0f0f0;
  z-index: 2;
}
.sc-story .story-headline p {
  width: 100%;
  max-width: 35rem;
  padding: 3rem 0 0 3vw;
  color: var(--colors--black);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
}
.sc-story .story-headline .story-title {
  display: flex;
  align-items: center;
  padding: 3rem 3rem 3rem 18vw;
}
.sc-story .story-headline .story-title h2 {
  width: 100%;
  max-width: 25rem;
  color: var(--colors--black);
  font-size: 48px;
  letter-spacing: -0.5px;
  font-weight: 600;
  line-height: 1.1em;
}
.sc-story .story-inner {
  position: relative;
}
.sc-story .story-item {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 35rem;
  background-color: rgb(240, 240, 240);
  will-change: background-color;
}
.sc-story .story-item .thumb {
  overflow: hidden;
}
.sc-story .story-item .thumb img {
  width: 100%;
  height: 125%;
  object-fit: cover;
  transform: translateY(-10%);
}
.sc-story .story-item .schedule {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem 3rem 3rem 18vw;
}
.sc-story .story-item .schedule h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: -0.5px;
  color: var(--colors--dark-grey);
}
.sc-story .story-item .schedule .desc {
  width: 100%;
  max-width: 30rem;
  font-size: 16px;
  color: var(--colors--dark-grey);
  letter-spacing: -0.05px;
  font-weight: 400;
}

/* sc-story / clock */
.sc-story .clock {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100%;
  inset: 0% auto 0% 48.25vw;
  opacity: 0;
  will-change: opaicty;
  z-index: 5;
}
.sc-story .clock-outer {
  position: sticky;
  height: 35rem;
  padding-top: 3rem;
  top: 0;
}
.sc-story .clock-wrap {
  margin-top: -22.4rem;
  transform: translateY(0);
  will-change: transform;
}
.sc-story .clock-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.sc-story .clock-motion {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.sc-story .clock-classic {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 3.5vw;
  height: 3.5vw;
  background-color: rgb(249,197,24); 
  overflow: hidden;
  will-change: background-color;
}
.sc-story .clock-classic .sun {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--colors--yellow);
  z-index: 2;
  transform: translateY(100%); 
  will-change: transform;
}
.sc-story .clock-classic .moon {
  position: absolute;
  width: 105%;
  height: 105%;
  border-radius: 100%;
  background-color: var(--colors--white);
  object-fit: cover;
  overflow: hidden;
  z-index: 3;
  transform: translateY(100%); 
  will-change: transform;
}
.sc-story .clock-digital {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 38px;
  padding-right: 0.5rem;
  overflow: hidden;
  opacity: 0;
  will-change: opcity;
}
.sc-story .clock-digital .clock-number-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0.17rem;
  transform: translateY(0);
  will-change: transform;
}
.sc-story .clock-digital  .clock-text{
  font-size: 36px;
  font-weight: 500;
  text-align: right;
  color: #18181a;
  letter-spacing: -5px;
  line-height: 1em;
}
.sc-story .clock-digital .clock-number-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0.2rem;
}
.sc-story .clock-digital .clock-number-3 {
  margin-right: .2rem;
  margin-top: -.2rem;
}
.sc-story .clock-digital .clock-number-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: .25rem;
}
.sc-story .clock-digital .clock-number-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* sc-story */


/* sc-feature */
.sc-feature {
  background-color: #000;
}
.sc-feature .feature-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 2.5rem 0;
}
.sc-feature .feature-title h2 {
  width: 100%;
  max-width: 30rem;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.5px;
  color: var(--colors--grey);
  text-align: center;
}
.sc-feature .feature-title h2 strong {
  color: var(--colors--white);
}
.sc-feature .feature-inner {
  position: relative;
  width: 100%;
  height: 300vh;
  z-index: 2;
}
.sc-feature .feature-layer-1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.sc-feature .feature-layer-2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 3rem 5vw;
  z-index: 2;
  inset: 0%;
}
.sc-feature .feature-layer-2 .feature-text {
  position: absolute;
}
.sc-feature .feature-layer-2 .feature-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: -0.05px;
  color: var(--colors--grey);
}
.sc-feature .feature-layer-2 .feature-text strong {
  color: var(--colors--white);
}
.sc-feature .feature-layer-2 .feature-text:nth-child(1) {
  inset: auto 10vw 15vh auto;
}
.sc-feature .feature-layer-2 .feature-text:nth-child(2) {
  inset: auto auto 15vh 10vw;
}
.sc-feature .feature-layer-2 .feature-text:nth-child(3) {
  inset: auto 10vw 15vh auto;
  opacity: 0;
}
.sc-feature .feature-layer-2 .feature-text:nth-child(4) {
  inset: auto auto 15vh 10vw;
  opacity: 0;
}
/* // sc-feature */


/* sc-guarantee */
.sc-guarantee {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--colors--white);
}
.sc-guarantee .guarantee-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 85rem;
  padding: 8rem 2.5rem;
}
.sc-guarantee .guarantee-inner > p {
  flex: 1;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--colors--black);
}
.sc-guarantee .guarantee-info {
  flex: 1;
}
.sc-guarantee .guarantee-info h2 {
  color: var(--colors--black);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.5px;
}
.sc-guarantee .guarantee-info p.desc {
  margin-top: 1rem;
  width: 100%;
  max-width: 37rem;
  color: var(--colors--black);
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: var(--line-height--1-3em);
}
.sc-guarantee .info-list {
  margin-top: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sc-guarantee .info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0.7rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.sc-guarantee .info-item dt {
  color: var(--colors--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height--1-3em);
  letter-spacing: -0.05px;
}
.sc-guarantee .info-item dd {
  color: var(--colors--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height--1-3em);
  letter-spacing: -0.05px;
}
.sc-guarantee .link-order {
  display: inline-flex;
  margin-top: 2rem;
  background-color: #e4e4e4;
}
/* // sc-guarantee */


/* sc-interview */
.sc-interview {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.sc-interview .img-box {
  width: 100%;
  height: 100vh;
  min-height: 55rem;
  overflow: hidden;
}
.sc-interview .img-box img {
  width: 100%;
  height: 125%;
  object-fit: cover;
  transform: translateY(-10%);
  will-change: transform;
}
.sc-interview .interview-box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  max-width: 85rem;
  padding: 6rem 2.5rem 0;
  z-index: 2;
}
.sc-interview .split-lines {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -1.5px;
  color: var(--colors--black);
}
.sc-interview .split-lines .line {
  position: relative;
  width: 100%;
}
.sc-interview .split-lines .line-mask{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0.65;
  z-index: 2;
}
.sc-interview .interviewer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  will-change: opacity;
}
.sc-interview .interviewer p {
  color: var(--colors--grey);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: -0.5px;
}
.sc-interview .interviewer .link-interview {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #999;
  transition: color 0.2s;
}
.sc-interview .interviewer .link-interview .ic-arrow {
  width: 1.1rem;
  margin-left: 0.2rem;
  object-fit: cover;
  opacity: 0.35;
  transition: transform 0.2s, opacity 0.2s;
}
.sc-interview .interviewer .link-interview:hover {
  color: rgb(24, 24, 26);
}
.sc-interview .interviewer .link-interview:hover .ic-arrow {
  transform: rotate(-45deg);
  opacity: 1;
}
/* // sc-interview */


/* sc-detail */
.sc-detail {
  opacity: 1;
  will-change: opacity;
}
.sc-detail .detail-inner {
  position: relative;
  width: 100%;
  height: 200vh;
  margin-top: -5rem;
  z-index: 1;
}
.sc-detail .skizze-outer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.sc-detail .skizze-inner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 145%;
}
/* skizze-1 */
.sc-detail .skizze-1 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  gap: 13vw;
  width: 100%;
  height: 100%;
  inset: 0%;
  z-index: 1;
}
.sc-detail .skizze-1 .skizze-text {
  opacity: 1;
  will-change: opacity;
}
.sc-detail .skizze-1 .skizze-tab {
  opacity: 1;
  will-change: opacity;
}
.sc-detail .skizze-text {
  height: 60vh;
}
.sc-detail .skizze-text h2 {
  color: var(--colors--black);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.5px;
}
.sc-detail .skizze-text p.desc {
  margin-top: 1rem;
  width: 100%;
  max-width: 25rem;
  color: var(--colors--black);
  font-size: 16px;
  line-height: var(--line-height--1-3em);
  font-weight: 400;
}
.sc-detail .skizze-text a.link-catalog {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #090909;
  background-color: #e4e4e4;
  margin-top: 2rem;
  overflow: hidden;
}
.sc-detail .skizze-text a.link-catalog .btn-inner{
  position: relative;
  overflow: hidden;
}
.sc-detail .skizze-text a.link-catalog .text {
  display: inline-block;
}
.sc-detail .skizze-text a.link-catalog .text.bottom {
  position: absolute;
  inset: 0%;
}
.sc-detail .skizze-tab {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 60vh;
}
.sc-detail .skizze-list {
  width: 25vw;
  min-width: 22.5rem;
  max-width: 30rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sc-detail .skizze-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.7rem 0.4rem;
  cursor: pointer;
}
.sc-detail .skizze-item span {
  font-size: 16px;
  letter-spacing: -0.05px;
  font-weight: 400;
  color: var(--colors--grey);
  line-height: var(--line-height--1-3em);
}
.sc-detail .skizze-item .ic-more {
  transition: transform 0.2s;
}
.sc-detail .skizze-item:hover .ic-more {
  transform: rotate(90deg);
}
/* //skizze-1 */
/* skizze-2 */
.sc-detail img.skizze-2 {
  position: absolute;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  will-change: transform;
}
/* // skizze-2 */
/* skizze-3 */
.sc-detail .skizze-3 {
  position: absolute;
  height: 100%;
  object-fit: contain;
  z-index: 3;
  will-change: transform;
}
.sc-detail .skizze-3 img {
  position: static;
  height: 100%;
  margin-right: 15rem;
  object-fit: contain;
}
/* // skizze-3 */
/* skizze-4 */
.sc-detail img.skizze-4 {
  position: absolute;
  height: 100%;
  object-fit: contain;
  z-index: 4;
}
/* // skizze-4 */
/* skizze-5 */
.sc-detail img.skizze-5 {
  position: absolute;
  height: 100%;
  object-fit: contain;
  z-index: 5;
  will-change: transform;
}
/* // skizze-5 */

/* .sc-detail .skizze-6 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  gap: 10vw;
  width: 100%;
  height: 100%;
  inset: 0%;
  z-index: 6;
} */
/* .sc-detail .skizze-6 .skizze-text {
  opacity: 0;
  will-change: opacity;
}
.sc-detail .skizze-6 .skizze-tab {
  opacity: 0;
  will-change: opacity;
} */


/* sc-order */
.sc-order {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colors--black);
  margin-top: 7rem;
  z-index: 2;
}
.sc-order .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 55rem;
  overflow: hidden;
}
.sc-order .img-box img {
  width: 100%;
  height: 125%;
  object-fit: cover;
  will-change: transform;
}
.sc-order .order-inner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8rem 2.5rem;
  max-width: 85rem;
}
.sc-order .info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 0.7rem;
}
.sc-order .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30rem;
}
.sc-order .info-text h2 {
  color: var(--colors--white);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: -0.5px;
}
.sc-order .info-text p.desc {
  margin-top: 1rem;
  width: 26rem;
  color: var(--colors--grey);
  font-size: 16px;
  letter-spacing: -0.05px;
  font-weight: 400;
}
.sc-order .info-text p.desc strong {
  color: var(--colors--white);
}
.sc-order .info-text a.link-order {
  margin-top: 2rem;
}
.sc-order .info-preview {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: center;
  align-items: flex-start;
  width: 30rem;
}
.sc-order .info-preview h3 {
  font-size: 16px;
  line-height: var(--line-height--1-3em);
  letter-spacing: -0.05px;
  font-weight: 500;
  color: var(--colors--grey);
}
.sc-order .info-preview h3 strong {
  color: var(--colors--white);
}
.sc-order .info-preview .lightbox-video {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 28.5rem;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ccc;
}
.sc-order .lightbox-video .btn-play {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(245, 245, 245, 0.3);
  backdrop-filter: blur(5px);
  z-index: 2;
}
.sc-order .lightbox-video .btn-play img {
  transition: 0.2s;
}
.sc-order .lightbox-video:hover .btn-play img {
  transform: scale(0.9);
}
.sc-order .lightbox-video .video-box {
  position: relative;
  width: 100%;
  height: 18rem;
  z-index: 1;
  overflow: hidden;
  will-change: transform;
  transition: 0.2s;
}
.sc-order .lightbox-video:hover .video-box {
  transform: scale(1.2);
}
.sc-order .lightbox-video .video-box video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0%;
  z-index: -1;
}
/* // sc-order */

